<button class="button" (click)="signOut()">Logout</button>

<div class="thread">
  <div class="post-message-box" *ngIf="user$ | async">
    <input class="message-input" type="text" placeholder="Type here your message" #post>
    <button class="button submit-button" type="submit" (click)="addPost(post.value)">Submit</button>
  </div>
  
  <div>
    <div *ngIf="currentMessage$ | async as messages">
      <div *ngFor="let message of messages; let i = index">
        <app-message [chatId]="curChatId" [message]="message"></app-message>
      </div>
    </div>
  </div>
</div>
