.thread {
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.post-message-box {
  padding: 10px;
  display: inline-block;
}

.message-input {
  border-radius: 12px;
  padding: 5px;
  margin: 4px;
}

.button {
  border-radius: 25px;
  background-color: gray;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit-button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.submit-button:hover {
  background-color: #4CAF50;
  color: white;
}